#mainHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body {
    font-family: Georgia;
    font-size: 18px;
    padding: 0 20px 0 20px;
}

button, select, input[type="time"], input[type="date"] {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
}

button, a {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
}

button:hover, a:hover {
    background-color: hsla(0, 0%, 12%, 0.8);
}

button:active, a:active {
    transform: scale(0.98);
}

legend {
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 20px;
}

fieldset {
    border-radius: 20px;
}

footer {
    font-size: 16px;
    font-family: sans-serif;
}